<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.googlepay.googlepaytest">

    <application
        android:allowBackup="true"
        android:icon="@drawable/google_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/google_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.GooglePayTest">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GllgleActivity">

        </activity>

        <activity android:name=".GooglePayActivity">

        </activity>

        <activity android:name=".GooglePayTestActivity">

        </activity>

    </application>

</manifest>